/*
* Styles for the Michelle Obama tribute page
* by Ashley Newton
*/

/*
* All devices and screens
*/

body {
  background-image: url("_static/images/chicago-2183727_1920.jpg");
  background-color: #006aff;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-size: 58px;
}

h2, strong {
  color: #031b4e;
}

p, ul {
  font-family: 'Open Sans', sans-serif;
  line-height: 150%;
}

.larger-image {
  display: block;
  margin: auto;
  width: 500px;
}

#img-caption {
  display: block;
  margin: auto;
  max-width: 480px;
  text-align: center;
  background-color: white;
  color: #031b4e;
  padding: 10px;
}

#tribute-info-wrapper {
  background-color: #f0efe9;
  margin: -15px;
  padding: 1.5em;
}

#tribute-info {
  display: block;
  margin: auto;
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  line-height: 180%;
  color: #5b6987;
}

.main-content {
  padding: 0em 1.5em;
  margin: 1.5em;
  margin: auto;
}

img {
  max-width: 95%;
  height: auto;
}

/*
* Small screen
*/

@media (max-width: 200px) {


}
