/*
* Styles for the Michelle Obama tribute page
* by Ashley Newton
*/

/*
* All devices and screens
*/

body {
  background-color: #006aff;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-size: 58px;
}

h2 {
  color: #403f3e;
}

p, ul {
  font-family: 'Open Sans', sans-serif;

}

.larger-image {
  display: block;
  margin: auto;
  width: 500px;
}

#img-caption {
  display: block;
  margin: auto;
  max-width: 480px;
  text-align: center;
  color: white;
  line-height: 150%;

}

#tribute-info-wrapper {
  background-color: #f0efe9;
}

#tribute-info {
  display: block;
  margin: auto;
  max-width: 700px;
  text-align: left;
  font-size: 24px;
  line-height: 180%;
}

.main-content {
  padding: 1.5em;
  margin: 1.5em;
  margin: auto;
}

img {
  max-width: 95%;
  height: auto;
}

/*
* Small screen
*/

@media (max-width: 200px) {


}
